*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400, 500, 600;
    font-style: normal;
}


/* header css */

.header-section{
    background: linear-gradient(to right,
     rgba(0, 0, 0, 0.8),
     rgba(0, 0, 0, 0.6) 80%,
     rgba(0, 0, 0, 0.3) 100%),
     url(./img/hero-bg-img.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
}
    

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 230px;
    margin-bottom: 15px;
}


.logo{
    position: absolute;
    top: -35px;
    right: 60%;
    left: 42%;
    width: fit-content;
    width: 500px;
}


.logo-img{
    height: 180px;
    width: 250px;
    position: absolute;
    border-radius: 10px;
    top: 60px;
}

.name-plate{
    display: none;
}

.menu-toggle, .menu-icon, .menu-phone{
    display: none;
}


.header-contact-details {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 60px;
    left: 40px;
}


.header-contact-details-icon svg{
    color: rgb(190, 150, 103);
    margin-right: -15px;
}


.header-contact-details-text{
    color: #71797E;
    padding-top: 5px;
    transition: 0.3s ease-in;
}


.header-contact-details-text:hover{
    color: rgb(190, 150, 103);
}


.header-btn {
    background-color: transparent;
    border: 1px dashed rgb(190, 150, 103);
    padding: 15px;
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 1;
    border-radius: 8px 0px;
    color: rgb(190, 150, 103);
    transition: color 0.5s ease-in;
}


.btn-hover-fill{
    width: 0%;
    height: 100%;
    position: absolute;
    border-radius: 8px 0px;
    top: 0;
    left: 0;
    background-color: rgb(190, 150, 103);
    z-index: -1;
    transition: 0.5s ease-in;
}


.header-btn:hover .btn-hover-fill{
    width: 100%; 
}


.header-btn:hover{
    color: white;
    border: 1px solid rgb(190, 150, 103);
}


a{
    text-decoration: none;
    color: inherit;    
}


.header-nav-list{
    color:white;
    margin-bottom: 45px;
    padding: 0px 40px 0px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}


.header-nav-list .header-nav-list-item{
    display: inline-block;
    margin: 0px 40px 0px 0px;
    border-right: 0.8px solid rgb(113, 121, 126);
    border-right-width: 1px;
    padding: 0px 45px;
    font-size: 18px;
    color: rgb(113, 121, 126);
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
    position: relative;
}


.header-nav-list-item:nth-child(5){
    border: none;
}


.header-nav-list-item::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: rgb(190, 150, 103);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s ease-in-out;
}


.header-nav-list-item:hover{
    color: rgb(190, 150, 103);
}


.header-nav-list-item:hover::after{
    width: 100%;
}

@media screen and (max-width: 600px){
    .header-section{
        height: 900px;
        padding-top: 15px;
    }
        
    
    .header-info {
        flex-direction: column;
        height: 400px;
        justify-content: space-between;
        align-items: center;
        position: initial;
    }

    .header-contact-details {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
        position: initial;
        font-size: 1rem;
        margin-top: 30px;
    }

    
    .header-contact-details-icon {
        margin-bottom: -25px;
    }

    .header-contact-details-text{
        color: rgb(255, 255, 255);
        margin-top: 0.5px;
    }

    .logo{
        position: initial;
        width: 80px;
    }
    
    
    .logo-img{
        height: 100%;
        width: 100%;
        position: initial;
    }

    .name-plate{
        display: block;
        color: rgb(190, 150, 103);
        font-family: "Cinzel", serif;
        font-weight: 600;
        font-size: 2.5rem;
        margin-top: -35px;
    }
    
    
    .header-btn {
        position: relative;
        right: initial;
        margin-top: -100px;
        border: 2px solid rgb(190, 150, 109);
    }

    .menu-toggle{
        display: none;
    }

    .menu-phone{
        display: block;
    }

    .menu-icon {
        cursor: pointer;
        width: 35px;
        height: 25px;
        position: relative;
        top: 70px;
        right: -180px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 2;
        color: white;
    }

    .menu-icon div {
        width: 100%;
        height: 4px;
        background-color: rgb(255, 255, 255);
        transition: transform 0.3s ease-in-out;
    }

    .menu-phone {
        position: fixed;
        top: 0;
        right: 0;
        width: 200px;
        height: 100vh;
        background-color: rgb(190, 150, 103);
        opacity: 0.93;
        box-shadow: -3px 0 5px rgba(0, 0, 0, 0.2);
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 1;
    }

    .menu-phone ul {
        list-style: none;
        padding: 40px;
        margin-top: 150px;
    }

    .menu-phone ul li a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 18px;
    }

    .menu-toggle:checked + .menu-icon + .menu-phone {
        transform: translateX(30px);
    }

    .menu-toggle:checked + .menu-icon div:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    
    .menu-toggle:checked + .menu-icon div:nth-child(2) {
        opacity: 0;
    }
    
    .menu-toggle:checked + .menu-icon div:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .header-nav-list{
        display: none;
    }

}


/* end of header css */


/* hero section  */

.hero-section{
    height: 80px;
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-section-header{
    color: rgb(190, 150, 109);
    font-size: 2.1rem;
    text-transform: uppercase;
    font-family:  "Cinzel", serif; 
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;   
    margin-bottom: 20px;
}


.hero-section-text{   
    color: white;
    text-transform: uppercase;
    font-size: 13px;
}

.hero-section-text a{
    transition: color 0.3s ease-in-out;
}

.hero-section-text a:hover{
    color: rgb(190, 150, 109);
}


.hero-section-text span{
    color: rgb(113, 121, 126);
    font-size: 13px;
}

@media screen and (max-width: 600px){

    .hero-section{
        width: 100%;
        flex-direction: column;
        margin-top: 90px;
    }
    
    .hero-section-header{
        font-size: 1.5rem;  
        margin-bottom: 15px;
    }
}

/* end of hero section css  */


/* welcome section css */

.welcome-section{
    width: 85%;
    height: 600px;
    margin: 40px auto;
    display: flex;
}


.welcome-img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.welcome-section img{
    width: 68%;
    height: 70% ;
    display: block;
    border: 5px solid rgb(190, 150, 103);
    border-radius: 15px;
}


.welcome-content{
    width: 50%;
}


.welcome-content h2{
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 3.58rem;
    padding-top: 50px;
    padding-left: 15px;
}


.welcome-content p{
    width: 100%;
    padding-left: 15px;
    margin-bottom: 35px;
}


.welcome-content p:nth-child(2){
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 350;
    color: rgb(190, 150, 103);
    letter-spacing: 1.5px;
    margin-top: 25px;
}


.welcome-content p:nth-child(3){
    line-height: 1.6;
}

@media screen and (max-width: 600px){
    .welcome-section{
        width: 80%;
        height: inherit;
        margin: 40px auto;
        flex-direction: column;
    }
    
    
    .welcome-img{
        width: 100%;
        height: 450px;
        margin: 15px auto;     
    }
    
    .welcome-section img:nth-child(1){
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .welcome-content{
        width: 100%;
    }
    
    
    .welcome-content h2{
        font-size: 1.8rem;
        padding: 5px 0px 0px 0px;
        font-weight: 400;
        text-transform: uppercase;
    }
    
    
    .welcome-content p{
        width: 100%;
        padding: 0px;
        height: inherit;
        margin-bottom: 35px;
    }
    
    
    .welcome-content p:nth-child(2){
        font-size: 0.9rem;
        letter-spacing: 1.3px;
    }
    
}

/* end of welcome section css */


/* our-story section css */

.our-story-section{
    width: 85%;
    margin: 40px auto;
    display: flex;
}


.our-story-img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.our-story-section img{
    width: 85%;
    height: 99% ;
    display: block;
    border: 5px solid rgb(190, 150, 103);
    border-radius: 15px;
}


.our-story-content{
    width: 50%;
    text-align: center;
}


.our-story-content h2{
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 3.58rem;
    padding-top: 50px;
    padding-left: 15px;
    
}


.our-story-content p{
    width: 100%;
    padding-left: 15px;
    margin-bottom: 35px;
    line-height: 1.6;
    
}

@media screen and (max-width: 600px){
    .our-story-section{        
        width: 100%;
        flex-direction: column-reverse;
    }
    
    
    .our-story-img{
        width: 80%;
        height: 280px;
        margin: 0 auto;
    }
    
    
    .our-story-section img{
        height: 100%;
    }

    .our-story-content{
        width: 100%;
        text-align: center;
    }
    
    
    .our-story-content h2{
        text-align: left;
        font-size: 2rem;
        padding-top: 10px;
        padding-left: 35px;
        margin-top: 10px;      
        margin-bottom: -19px;      
    }
    
    
    .our-story-content p{
        width: 100%;
        padding: 35px;
        margin-bottom: 0px;
        text-align: left;        
    }

}
/* end of our-story section css */

/* our-phases */
.our-phases{
    width: 85%;
    margin: 40px auto;
}

.our-phases h3{
    width: 65%;
    text-align: left;
    line-height: 1.5;
    font-family: "Cinzel", serif;
}

.our-phases p{
    width: 65%;
    margin-bottom: 35px;
    text-align: left;
    line-height: 1.5;
}

@media screen and (max-width: 600px){
    .our-phases{
        width: 100%;
        padding: 35px;
        margin-top: -65px;
    }

    .our-phases h3{
        width: 100%;
    }
    
    .our-phases p{
        width: 100%;
        
    }

}

/* end of our-phases */

/* meet our tailors css*/

.meet-our-tailors{
    width: 100%;
    height: 750px;
    margin-top: 100px;
    background-color: rgb(248, 248, 248);
}

.meet-our-tailors-container{
    width: 85%;
    margin: 0 auto;
    padding: 35px;
}


.meet-our-tailors-text{
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase
}


.meet-our-tailors-text h4{
    color: rgb(190, 150, 109);
    font-size: 1.2rem;
    font-family: "Cinzel", serif;
    margin-bottom: 15px;
}


.meet-our-tailors-text p{
    font-size: 2.8rem;
    text-transform: uppercase;
    margin-top: 15px;
    font-family: "Cinzel", serif;
    font-weight: 600;
}


.meet-our-tailor-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    gap: 100px;
}


.meet-our-tailors-profile-content{
    position: relative;
    transition: 0.5s;
    position: relative;
    transition: background-color 0.9s ease-in-out;
}

.meet-our-tailors-profile-content h4{
    margin-bottom: 15px;
}


.meet-our-tailors-profile-content:hover h4{
    color: rgb(190, 150, 109);
}


.meet-our-tailors-profile-content::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}


.meet-our-tailors-profile-content:hover::after{
    background-color: rgba(255, 255, 255, 0.1);
}


.meet-our-tailors-profile-content img{
    width: 300px;
    height: 350px;
    display: block;
    border-radius: 10px;
}


.tailor-3 .meet-our-tailors-profile-content img:nth-child(1){
    width: 250px;    
}


.meet-our-tailors-img-profile-card{
    background-color: white;
    border-radius: 10px;
    width: 80%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 8px rgb(164, 158, 158);
    position: absolute;
    bottom: -15%;
    left: 10%;
}


.meet-our-tailors-img-profile-card-sm a{
    margin: 0px 10px;
    padding: initial;
    color: white;
}


.meet-our-tailors-img-profile-card-sm a svg{
    transition: 650ms ease-in-out;
}


.meet-our-tailors-img-profile-card-sm svg:hover{
    transform: scale(1.2);    
    fill: rgb(190, 150, 109);
}


@media screen and (max-width: 600px){
    .meet-our-tailors{
        height: 1500px;
        margin-top: -35px;
    }

    .meet-our-tailors-text p{
        font-size: 2rem;
        margin-top: 2px;
        margin-bottom: -25px;
        font-weight: 600;
    }

    .meet-our-tailor-container{
        flex-direction: column;
    }
}
    

/* end of meet our tailors css*/



/* why-choose us section-css */

.why-choose-us-section{
    width: 85%;
    height: 600px;
    margin-top: 150px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    display: flex;
    gap: 30px;
}


.why-choose-us-content{
    width: 50%;
    height: 100%;
}


.why-choose-us-content h2{
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 3.58rem;
    padding-top: 50px;
    padding-left: 15px;
    margin-bottom: 25px;
}


.why-choose-us-content > p{
    width: 100%;
    padding-left: 15px;
    margin-bottom: 85px;
    font-size: 1.1rem;
    font-weight: 300;
}


.col-1-illustration{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: rgb(248, 248, 248);
}

.col-1-illustration-container{
    display: flex;
    width: 100%;
    height: 110px;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-right: 2px;
    font-weight: 300;
}


.col-1-illustration-container:nth-child(1):before{
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 5px;
    height: 200%;
    background-color: rgb(255, 255, 255);
}

.col-1-illustration-container:nth-child(1):after{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 198%;
    height: 5px;
    background-color: rgb(255, 255, 255);
}

.col-1-illustration-container svg{
    width: 50%;
    height: 50%;
    color: rgb(190, 150, 103);
}

.col-1-illustration-container-text{
    display: flex;
    height: 100%;
    justify-content: center;
    gap: 10px;
    align-self: center;
    flex-direction: column;
    width: 100%;
}

.col-1-illustration-container-text h3{
    font-size: 1.3rem;    
}


.col-1-illustration-container-text p{
    padding: initial;
}


.why-choose-us-img{
    width: 50%;
    position: relative;
}


.why-choose-us-img img:nth-child(1){
    width: 300px;
    height: 380px;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 55px;
    left: 45px;
    display: block;
    border: 5px solid rgb(190, 150, 103);
    border-radius: 15px; 
}


.why-choose-us-img img:nth-child(2){
    width: 300px;
    height: 380px;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 180px;
    right: 45px;
    display: block;
    border: 5px solid rgb(190, 150, 109);
    border-radius: 15px; 
}


@media screen and (max-width: 600px){
    .why-choose-us-section{
        flex-direction: column;
        height: inherit;
        background-color: rgb(248, 248, 248);
        width: 100%;
        margin-top: 15px;
    }


    .why-choose-us-content{
        margin: 0 auto;
        width: 90%;
        height: 100%;
    }
    
    
    .why-choose-us-content h2{
        font-weight: 500;
        font-size: 2rem;
        padding-top: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 80%;
        margin: 15px auto;
    }
    
    
    .why-choose-us-content > p{
        font-size: 1.1rem;
        font-weight: 300;
        width: 80%;
        margin: 0 auto;
        padding: 0;     
    }

    .col-1-illustration{
        display: grid;
        grid-template-columns: 1fr;
        width: 80%;
        margin: 0 auto;
        margin-top: 15px;
    }
    
    .col-1-illustration-container{
        flex-direction: column;
        height: 200px;
        border-bottom: 5px solid white;
        padding-top: 15px;
    }

    .col-1-illustration-container:nth-child(4){
        border-bottom: none
    }

    .col-1-illustration-container:nth-child(1):before{
        display: none;
    }
    
    .col-1-illustration-container:nth-child(1):after{
        display: none;
    }

    .col-1-illustration-container-text{
        text-align: center;
        height: 100%;
        gap: 10px;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }
    
    .col-1-illustration-container-text h3{
        font-size: 1.6rem;    
    }
    
    
    .col-1-illustration-container-text p{
        font-size: 1.2rem;  
    }

    .why-choose-us-img{
        position: initial;
        width: 90%;
        margin: 0 auto;
    }

       
    .why-choose-us-img img:nth-child(1){
        width: 260px;
        margin: 0 auto;
        position: initial;
        margin-bottom: 15px;        
    }
    
    
    .why-choose-us-img img:nth-child(2){
        width: 260px;
        height: 380px;
        margin: 0 auto;
        position: initial; 
        margin-bottom: 25px;        
    }
}

/* end of why-choose us section-css */


/* about page gallery grid */

.about-page-gallery{
    margin-top: 80px ;
    width: 100%;
    padding: 35px ;
    background-color: rgb(248, 248, 248);
}

.about-gallery-header{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;
}

.about-gallery-header h2{
    text-transform: uppercase;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2.58rem;
}


.about-gallery-header p{
    margin: 0 auto;
    font-size: 1.2rem;
}

.about-page-gallery-grid{
    display: grid;
    width: 80%;
    margin: 0 auto;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
}

.about-page-gallery-grid .about-grid-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}

.about-page-gallery-grid .about-grid-wrapper .blurr{
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.597);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(3px);
    align-items: center;
    transition: opacity 0.3s ease-in-out;    
}

.about-page-gallery-grid .about-grid-wrapper:hover .blurr{
    opacity: 1;
}

.about-page-gallery-grid .about-grid-wrapper .blurr a{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
    padding: 15px;
    border: 1px solid rgb(190, 150, 103);
}



.about-page-gallery-grid .about-grid-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}


.about-page-gallery-grid .about-gallery-item1{
    grid-column: 1 /2;
    grid-row: 1 /3;
}


.about-page-gallery-grid .about-gallery-item2{
    grid-column: 2 /4;
    grid-row: 1;
}

.about-gallery-button{
    text-align: center;
    margin-top: 25px;
}

.about-gallery-button a{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 10px;
    padding: 25px;
    background-color: rgb(190, 150, 109);
    color: white;
    width: 15%;
    margin: 0 auto;
    text-transform: capitalize;
    position: relative;
    overflow: hidden;
}

.about-gallery-button a::after{
    content: "";
    position: absolute;
    top: -25px;
    left: -50%;
    background-color: rgba(255, 255, 255, 0.09);
    width: 80px;
    height: 180%;
    transform: skewX(-45deg);
    transition: left 450ms ease-in-out;
}

.about-gallery-button a:hover::after{
    left: 120%;
}

@media screen and (max-width: 600px){
    .about-page-gallery{
        margin-top: 30px;
    }

    
    .about-gallery-header h2{
        font-size: 1.8rem;
    }
    
    
    .about-gallery-header p{
        font-size: 1.1rem;
    }

    .about-page-gallery-grid{
        grid-template-columns: 1fr;
        grid-auto-rows: 350px;
    }
    
    .about-page-gallery-grid .about-gallery-item1{
        grid-column: 1 /2;
        grid-row: 1 /2;
    }
    
    
    .about-page-gallery-grid .about-gallery-item2{
        grid-column: 1 /2;
        grid-row: 2 /3;
    }

    .about-page-gallery-grid .about-gallery-item3{
        grid-column: 1 /2;
        grid-row: 3 / 4;
    }

    .about-page-gallery-grid .about-gallery-item4{
        grid-column: 1 /2;
        grid-row: 4 /5;
    }
    .about-gallery-button a{
        width: 100%;
    }
}

/* about page gallery grid */


/* testimonial */

.testimonial{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 60px;
    padding-top: 35px;
}


.testimonial h3{
    text-transform: uppercase;
    text-align: center;
    font-size: 2.8rem;
    font-family: "Cinzel", serif;
    margin-bottom: 35px;
}


.testimonial p{
    color: black;
}


.testimonial .testimonial-text{
    text-align: center;
    text-transform: uppercase;
}


.testimonial-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 90%;
    margin: 15px auto;
    gap: 25px; 
    height: 650px;
}


.testimonial-review{
    background-image: linear-gradient(135deg, hsla(0, 0%, 50%, 0.9),  hsla(0, 100%, 98%, 0.9));
    color: white;
    border-radius: 15px;
    padding: 30px;
    transition: 0.5s ease-in;
}


.testimonial-review:hover{
    transform: scaleX(1.02);
}


.testimonial-review header{
    display: flex;
}


.customer-header{
    font-size: 14px;
    margin-left: 15px;
    padding-top: 20px;
}


.customer-header h4{
    margin-bottom: 5px;
    color: black;
}


.customer-header p{
    padding: 0;
    color: black;
}


.testimonial-review header img{
    border-radius: 50%;
    border: 3px solid rgb(190, 150, 109);
    display: block;
}


.marketing {
    font-weight: 250;
    color: rgb(190, 150, 109);
}


@media screen and (max-width: 600px){
    .testimonial{
        margin-top: 1px;
        height: inherit;
    }


    .testimonial h3{
        font-size: 1.8rem;
        margin-bottom: 4px;
    }


    .testimonial .testimonial-text{        
        font-size: .8rem;        
    }


    .testimonial-grid{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: inherit;
    }

    .marketing-2 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    

}

/* end of testimonial */


/* footer-section css */

.footer-section{
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 100px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(190, 150, 109, 0.6));

}


.footer-section-wrapper{
    display: flex;
    gap: 35px;
    width: 95%;
    margin: 0px auto;
}


.footer-section-wrapper h4{
    font-size: 1.8rem;
    margin-bottom: 35px;
}


.footer-section-wrapper p, li{
    padding: initial;
    font-size: 1.2rem;
    margin-bottom: 35px;
}


.footer-about{
    width: 25%;
    margin-top: 10px;     
}


.footer-about p{
    margin-top: 35px;    
}


.footer-about img{
    width: 150px;
    display: block;
    border-radius: 8px;
}


.footer-services{
    width: 25%;
    margin-top: 15px;
    margin-left: 15px;
}


.footer-services a{
    padding: initial;
    text-transform: capitalize;
    transition: color 650ms ease-in-out; 
}


.footer-services ul a:hover{
    color: rgb(255, 255, 255);
}



.footer-services ul li{
    list-style-type: none;
    
}


.footer-quick-links{
    width: 25%;
    margin-top: 15px;
    margin-left: 15px;
}


.footer-quick-links a{
    padding: initial;
    text-transform: capitalize;
    transition: color 650ms ease-in-out; 
}


.footer-quick-links ul a:hover{
    color: rgb(255, 255, 255);
}


.footer-quick-links ul li{
    list-style-type: none;
    margin-bottom: 25px;
}


.footer-subscribe{
    width: 25%;
    margin-top: 15px;
}


.footer-subscribe h4{
    margin-bottom: 25px;
}


.footer-subscribe-input-btn{
    border: 1px solid rgb(190, 150, 109);
    height: 50px;
    display: flex;
    width: fit-content;
    margin-top: 35px;    
}


.footer-subscribe-input-btn .footer-email{
    height: 100%;
    outline: none;
    border: none;
    width: 85%;
    font-size: 1.1rem;
    padding-left: 15px;
}


.footer-email::placeholder{
    padding-left: 15px;
}


.footer-subscribe-input-btn button{
    outline: none;
    border: none;
    height: 100%;
    width: 100px;
    cursor: pointer;
    background-color: rgb(190, 150, 109);
    transition: 0.6s ease-in-out; 
}


.footer-subscribe-input-btn button:hover{
    background-color: black;
    color: rgb(190, 150, 109);
}

.footer-section .sm {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 35px;
    height: 40px;
    width: 100%;
    font-size: 1.8rem;
}

.footer-section .sm a {
    transition: transform 650ms ease-in-out;
}


.footer-section .sm a:hover{
    transform: scaleX(1.1);
}

@media screen and (max-width: 600px){
    .footer-section {
        width: 100%;
        height: inherit;
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    

    .footer-section-wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 3px;
        margin-bottom: -1px;
    }


    .footer-about, 
    .footer-subscribe{
         width: 100%;
         padding: 15px;
    }


    .footer-about p{
        margin-top: 10px;
    }


    .footer-services,
    .footer-quick-links {
        width: 100%;
    }


    .footer-services ul li {
        margin-top: -15px;
    }
    

    .footer-quick-links ul li {
        margin-top: -5px;
    }


    .footer-subscribe-input-btn {
        width: 90%;
    }
    
}

/* end of footer-section css */